@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans';
}
body{
    background-color: #2a2c39 !important;
}
a{
    color: #858792 !important;
}
a:hover{
    color: white !important;
    transition: all ease-in-out 0.3s;
}
.btn-one{
    background-color: #2a2c39 !important;
    border: 1px solid #3b3d49 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    height: 55px;
    border-radius: 32.5px !important;
}
.btn-one:hover{
    background-color: #3b3d49 !important;
    transition: all ease-in-out 0.3s;
}
.bar{
    background-color: #2a2c39 !important;
}