@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans';
    color: white;
}
body{
    background-color: #252734 !important;
}
a{
    color: #858792 !important;
}
a:hover{
    color: white !important;
    transition: all ease-in-out 0.3s;
}
.active{
    color: white !important;
}
.btn-one{
    background-color: #2a2c39 !important;
    border: 1px solid #3b3d49 !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    height: 55px;
    border-radius: 32.5px !important;
}
.btn-one:hover{
    background-color: #3b3d49 !important;
    transition: all ease-in-out 0.3s;
}
.bar{
    background-color: #2a2c39 !important;
}
.dropdown-menu{
    background-color: #2a2c39 !important;
}
.button:focus:not(:focus-visible) , .navbar-toggler:focus{
    color: white !important;
}
.navbar-toggler-icon{
    background-image: url('../images/menu.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
    width: 32px !important;
    height: 22px !important;

}
.banner_text h1{
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
}
.banner_text h5{
    text-transform: capitalize;
    color: #858792;
}
.banner_text button{
    text-transform: capitalize;
    margin-top: 60px;
    width: 230px;
    font-weight: 400;
    height: 70px;
}
.banner_wrap img{
    width: 80%;
    height: auto;
    object-fit: cover;
}
.service_wrap{
    background-color: #2a2c39;
    padding: 60px 0px;
}
.service_wrap h5{
    text-transform: capitalize;
    color: #858792;
}
.service_wrap h2{
    font-size: 55px;
    text-transform: capitalize;
    margin: 50px 0px;
}

.swiper {
    width: 100%;
  }
  .swiper-slide {
    height: 400px;
    margin-right: 20px;
    background: #252734;
    padding: 50px;
}
.swiper-slide h4{
    margin: 30px 0px;
    text-transform: capitalize;
    font-size: 23px;
}
.swiper-slide li{
      position: relative;
    list-style: none;
    text-transform: capitalize;
  }
  .swiper-slide li::before{
    content: "\00BB";
    position: absolute;
    top: 0px;
    left: -30px;
  }
  .swiper-slide:nth-child(2) {
    background: #252734;
  }
  .swiper-slide:nth-child(3) {
    background: #252734;
  }
  .swiper-slide:nth-child(4) {
    background: #252734;
  }
  .swiper-slide:nth-child(5) {
    background: #252734;
  }
  .swiper-slide:nth-child(6) {
    background: #252734;
  }
  .swiper-slide:nth-child(7) {
    background: #252734;
  }
  
.contact button{
    border: 1px solid rgba(255,255,255,.1);
    background: transparent;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0px 20px;
    /* box-shadow: 0 3px 10px rgba(0,0,0,.5); */
}
.contact button:hover{
    background-color: #252734;
    box-shadow: 0 3px 10px rgba(0,0,0,.5), 0 3px 15px rgba(0,0,0,.5);    
}
.contact span{
    font-size: 22px !important;
}
.social{
    display: flex;
    padding: 0;
    gap: 20px;
}
.social li{
       list-style: none;
    border: 1px solid rgba(255,255,255,.1);
    /* box-shadow: 0 3px 10px rgba(0,0,0,.5); */
    width: 50px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li:hover{
    background-color: #252734;
    box-shadow: 0 3px 10px rgba(0,0,0,.5), 0 3px 15px rgba(0,0,0,.5);    
}
.copyright{
    font-size: 14px;
}
.top{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid rgba(255,255,255,.1);
    display: flex;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.top:hover{
    background-color: #252734;
    box-shadow: 0 3px 10px rgba(0,0,0,.5), 0 3px 15px rgba(0,0,0,.5);
}
@media only screen and (max-width: 1024px) {
    .contact span{
        font-size: 18px !important;
    }
  }
  @media only screen and (max-width: 992px) {
    .service_wrap h2{
        font-size: 40px;
    }
  }
  @media only screen and (max-width: 786px) {
    .service_wrap h2{
        font-size: 30px;
    }
    .contact span{
        font-size: 14px !important;
    }
    .contact button{
        height: 40px;
        width: 40px;
        border-radius: 30px;
    }
  }
  @media only screen and (max-width: 500px) {
    .service_wrap h2{
        font-size: 19px;
        margin-top: 18px;
    }
    .banner_wrap img{
        margin-top: 30px;
    }
    .contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .social{
    justify-content: center;
    margin-top: 40px;
  }
}